* {
  margin: 0;
  padding: 0;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;


  #root {
    width: 50%;
  }

  .lecturer-cards-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}